---
import { getCollection } from 'astro:content'
import SteamIconBorder from '../vectors/icons/SteamIconBorder.astro'
import ItchIconBorder from '../vectors/icons/ItchIconBorder.astro'

const games = await getCollection('game');
games.sort((a, b) => a.data.order - b.data.order);
---

<section>
	{
		games.map((game) => {
			return (
				<article>
					<div class="top-section">
						<div class="title-wrapper" style={`font-family: ${game.data.fontfamily}; font-size: ${game.data.fontsize};`}>
							<h1>{game.data.name}</h1>
						</div>
						<div class="links-container">
							{game.data.steamlink && <a href={game.data.steamlink} class="steamlink"><SteamIconBorder extraClass="game" width="42" height="42" color="var(--color-1)" borderWidth="2"/></a>}
							{game.data.itchlink && <a href={game.data.itchlink} class="itchlink"><ItchIconBorder extraClass="game" width="46" height="42" color="var(--color-1)" borderWidth="2"/></a>}
						</div>
					</div>
					<div class="bottom-section">
						<div class="left-section">
							<div class="video-wrapper">
								<iframe src={game.data.videolink} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							</div>
						</div>
						<div class="right-section">
							<div class="description-wrapper">
								<p>{game.data.description}</p>
							</div>
							<div class="info-container">
								<div class="info">
									<p class="p-title">Genre:</p>
									<p>{game.data.genre}</p>
								</div>
								<div class="info">
									<p class="p-title">Price:</p>
									<p>{game.data.price}</p>
								</div>
								<div class="info">
									<p class="p-title">Platforms:</p>
									<p>{game.data.platforms}</p>
								</div>
							</div>
						</div>
					</div>
				</article>
			)
		})
	}
</section>

<style>

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2rem 0 2rem 0;
		gap: 2rem;
	}

	article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 62.5rem;
		height: 22rem;
		padding: 2rem 4rem 2rem 4rem;
		background-color: var(--bg-dark);
		border-radius: 4.5rem;
	}

	.top-section {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		margin-bottom: 0.5rem;
	}

	.title-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		color: var(--color-1);
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
		text-align: center;
	}

	h1 {
		margin: 0;
		line-height: 4rem;
		font-size: 3rem;
	}

	.links-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		flex: 1;
	}

	.bottom-section {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	.left-section {
		display: flex;
		justify-content: center;
		flex: 1;
	}

	.right-section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 8px;
		flex: 1;
		height: 225px;
	}

	.description-wrapper {
		font-family: 'Roboto';
		font-size: 16px;
	}

	.info-container {
		display: flex;
		flex-direction: column;
		justify-content: end;
		gap: 4px;
		font-family: 'Roboto';
		font-size: 16px;
	}

	.p-title {
		width: 100px;
	}

	p {
		margin: 0;
	}

	iframe {
		width: 400px;
		height: 225px;
	}

	.info {
		display: flex;
	}

	@media (max-width: 1149px) {
		article {
			width: 36rem;
			height: 42rem;
		}

		.top-section {
			flex-direction: column-reverse;
			gap: 1rem;
			margin-bottom: 1rem;
		}

		.bottom-section {
			flex-direction: column;
			gap: 1.25rem;
		}

		.right-section {
			gap: 1.25rem;
		}

		.description-wrapper {
			height: auto;
			width: 400px;
		}
	}

	@media (max-width: 749px) {
		article {
			width: 26rem;
			height: 28rem;
			align-items: center;
		}

		.top-section {
			width: 24rem;
			gap: 1.25rem;
			margin-bottom: 0.5rem;
		}

		h1 {
			font-size: 125%;
		}

		.left-section {
			display: none;
		}

		.description-wrapper {
			width: 20rem;
		}
	}

	@media (max-width: 549px) {
		article {
			width: 17rem;
			height: 26rem;
		}

		.top-section {
			width: 13rem;
			gap: 0.65rem;
		}

		h1 {
			font-size: 100%;
		}

		.right-section {
			align-items: center;
		}

		.description-wrapper {
			font-size: 12px;
			width: 13rem;
			text-align: center;
		}

		.info-container {
			font-size: 14px;
			width: 14.75rem;
			margin-left: 2rem;
		}

		.p-title {
			width: 92px;
		}
	}

</style>
